@font-face {
    font-family: Aber;
    src: url(GFX/abermono250324/AberMono-Bold.otf);
  }
  
  body {
    background-color:black;
  }

  .container {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: white;
    font-family: Aber;
  }

  .contact{
    text-align: center;
    color: white;
  }