@font-face {
  font-family: Aber;
  src: url(GFX/abermono250324/AberMono-Bold.otf);
}

body {
  background: url(photos/BG.png);
  background-position: center center;
}

.menu{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  border; 1px solid solid black;
}

ul li{
  float: left;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  text-transform: capitalize;
  list-style-type: none;
  font-family: Aber;
}

ul li a{
  text-decoration: none;
  color: white;
}

ul li a:hover{
  color: rgb(248, 48, 255);
}

b{
  color: rgb(248, 48, 255);
  border-bottom: 2px solid rgb(248, 48, 255);
  font-weight: normal;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: -70px;
  width: 80%;
  height: 80%;
  scale: 1;
}

.contactcontainer {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: white;
  font-family: Aber;
}

.contact{
  text-align: center;
  color: white;
}